<div class="jumbotron">

<!-- 	<div class = "row">
		<div class="col-xs-5 line"><hr></div>
		<div class="col-xs-2 logo">Sayvemoar</div>
		<div class="col-xs-5 line"><hr></div>
	</div> -->

	<div class = "row">
		<div class="col-xs-3 line"><hr></div>
		<div class="col-xs-6 mainbyline">Save 5% or more on your next online purchase</div>
		<div class="col-xs-3 line"><hr></div>
	</div>

	<div class = "row">
		<div class="col-xs-3 line"></div>
		<div class="col-xs-6 logo">We combine the best deals, coupons, certificates, gift cards, and points to help you save. We do the research so you don't have to.</div>
		<div class="col-xs-3 line"></div>
	</div>

	<div class = "row">
		<div class="col-xs-3 line"></div>
		<div class="col-xs-6 logo">
			<a class="btn btn-xlarge btn-success" href="/buying-form" style = "padding: 18px 28px; font-size: 30px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;">Start saving</a>
		</div>
		<div class="col-xs-3 line"></div>
	</div>

	

</div>

<div class="container" style = "margin-top:100px;">

	<div class = "row">
		<p style = "text-align:center;" class = "lead"><strong>How it works</strong></p>
	</div>

	<div class = "row">
		<center>

		
			<div class = "col-md-4">
	      		<i class="fa fa-shopping-cart fa-5x"></i>
	    		<p class = "lead">What are you buying?</p>
	    		<p class = "lead" style = "text-align:left; font-size: 18px;">Make sure the store you're shopping from is on our list and send us the links to the products you're interested in.</p>
			</div>

			<div class = "col-md-4">
	      		<i class="fa fa-tag fa-5x"></i>
	    		<p class = "lead">Already have coupon codes?</p>
	    		<p class = "lead" style = "text-align:left; font-size: 18px;">Give us your coupons and we'll help you save an additional 5% or more.</p>
			</div>

			<div class = "col-md-4">
	      		<i class="fa fa-shopping-cart fa-5x"></i>
	    		<p class = "lead">Confirmation</p>
	    		<p class = "lead" style = "text-align:left; font-size: 18px;">Within the hour, we'll email your confirmed final price. Click the link in your email to finish your order!</p>
			</div>

		</center>
	</div>
</div>



<div class="container" style = "margin-top:100px;">

	<div class = "row">
		<p style = "text-align:center;" class = "lead"><strong>Stores</strong></p>
	</div>

	<div class = "row">
		

		<center>
			<div class = "col-md-2">
	      		
	      		<img src="https://pbs.twimg.com/profile_images/574977264263168000/PvSproP9.jpeg" style = "width:150px;" class="thumbnail">

			</div>

			<div class = "col-md-2">
	      		
	      		<img src="https://pbs.twimg.com/profile_images/497366299182256131/zjBy_dBz.png" style = "width:150px;" class="thumbnail">

			</div>

			<div class = "col-md-2">
	      		
	      		<img src="https://pbs.twimg.com/profile_images/568995613983776768/9CirmcWY.png" style = "width:150px;" class="thumbnail">

			</div>
		</center>


		
	</div>
</div>


<div class="container" style = "margin-top:100px;">

	<div class = "row">
		<p style = "text-align:center;" class = "lead"><strong>Recent Purchases</strong></p>
	</div>

	<div class = "row">
		
		

			<div class = "col-md-2">
				<img src="https://pbs.twimg.com/profile_images/574977264263168000/PvSproP9.jpeg" style = "width:150px;" class="thumbnail"> 
			</div>
			<div class = "col-md-4">
				<p class = "lead"><strong><a href = "">GAP: 4-piece blazer</a></strong> <small>(Mar 3, 2015)</small>
				<br>
				<strike>$200</strike> $190 (5% off)</p>

			</div>

			<div class = "col-md-2">
				<img src="https://pbs.twimg.com/profile_images/574977264263168000/PvSproP9.jpeg" style = "width:150px;" class="thumbnail"> 
			</div>
			<div class = "col-md-4">
				<p class = "lead"><strong><a href = "">GAP: 4-piece blazer</a></strong> <small>(Mar 3, 2015)</small>
				<br>
				<strike>$200</strike> $190 (5% off)</p>

			</div>
		
	</div>

		<div class = "row">
		
		

			<div class = "col-md-2">
				<img src="https://pbs.twimg.com/profile_images/574977264263168000/PvSproP9.jpeg" style = "width:150px;" class="thumbnail"> 
			</div>
			<div class = "col-md-4">
				<p class = "lead"><strong><a href = "">GAP: 4-piece blazer</a></strong> <small>(Mar 3, 2015)</small>
				<br>
				<strike>$200</strike> $190 (5% off)</p>

			</div>

			<div class = "col-md-2">
				<img src="https://pbs.twimg.com/profile_images/574977264263168000/PvSproP9.jpeg" style = "width:150px;" class="thumbnail"> 
			</div>
			<div class = "col-md-4">
				<p class = "lead"><strong><a href = "">GAP: 4-piece blazer</a></strong> <small>(Mar 3, 2015)</small>
				<br>
				<strike>$200</strike> $190 (5% off)</p>

			</div>
		
	</div>

</div>

<div class="container" style = "margin-top:100px;">

	<div class = "row">
		<p style = "text-align:center;" class = "lead"><strong>Frequently Asked Questions</strong></p>
	</div>

	<div class = "row">
		

		
			<div class = "col-md-12">
	      		
	    		<p class = "lead"><strong>How does it work? How are you able to offer these discounts?</strong>
	    		<p class = "lead">We have a team of deal-searchers that do the research so you don't have to. We then pass the savings to you. We combine the best deals online, coupons, cards, points, and certificates to get you at least 5% off on your online purchase. </p>

	    		<p class = "lead"><strong>What if I need a refund?</strong>
	    		<p class = "lead">We'll provide you with the receipt from the store as soon as the order is processed. Since we buy products directy from the store's site, just follow the store's refund instructions.</p>

	    		<p class = "lead"><strong>What stores can I save from?</strong>
	    		<p class = "lead">Make sure the store you're shopping from is on our list and send us the links to the products you're interested in.</p>

	    		<p class = "lead"><strong>Have more questions?</strong>
	    		<p class = "lead">Use the chat window at the bottom right of the page for an immediate answer to your question or email us at <a href="mailto:help@sayvemoar.com">help@sayvemoar.com</a>.</p>

	 
			</div>


		
	</div>
</div>

